body {
  display: flex;
  height: 100vh;
  background: red;
}

.autoplacement-example {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

html,
body {
  display: flex;
  height: 100%;
  margin: 0;
  background: linear-gradient(#e98a00, #f5aa2f);
}

.foo {
  @include mixins.a;

  flex: 1;
}
